  .charts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-left: 2em;
    margin-right: 2em;
  }

  .pre {
    font-size: 2rem;
    text-align: center;
    margin: 50vh 0;
  }

  .header {
    margin-bottom: 1rem;
    max-width: 960px;
    line-height: 1.5rem;
    text-align: justify;
    text-justify: inter-word
  }

  .heading {
    text-align: center;
    font-size: 1.75rem;
    margin-bottom: 3rem;
  }